<div class="body">
  <mat-card class="register">
    <p>
      Ethereum Smart Contract: contrato para negociação de créditos de energia
    </p>

    <div style="text-align: center">
      <button
        mat-raised-button
        dark
        class="big-round-shape-button black"
        (click)="GiveStar()"
      >
        <mat-icon>
          <img height="20" src="../../../assets/github.svg" />
        </mat-icon>
        Repositório
      </button>
      <h1>
        <img class="logo" src="assets/angular.png" alt="logo_angular" />Angular
        +
        <img class="logo" src="assets/truffle.png" alt="logo_truffle" />Truffle
        = ÐAPP
      </h1>
    </div>
  </mat-card>
</div>
