<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="prosumerList">

    <ng-container matColumnDef="prosumerAddress">
      <mat-header-cell *matHeaderCellDef> Endereço Prosumer </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="''"> {{truncateText(element.prosumerAddress, 38)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="uc">
      <mat-header-cell *matHeaderCellDef> Unidade consumidora </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.uc}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="energiaConsumida">
      <mat-header-cell *matHeaderCellDef> Energia consumida </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.energiaConsumida}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="energiaInjetada">
      <mat-header-cell *matHeaderCellDef> Energia injetada </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.energiaInjetada}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="payProsumer">
      <mat-header-cell *matHeaderCellDef> Pagar Prosumer</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="accent" (click)="payProsumer(element.prosumerAddress)">
          <mat-icon> attach_money</mat-icon>&nbsp;Pagar Progumer
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>

&nbsp;
<div class="button-container">
  <button mat-raised-button color="accent" (click)="getProsumerArray()">
    <mat-icon>update</mat-icon>&nbsp;Atualizar tabela
  </button>
  &nbsp;
</div>